<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css">
    <title>WELCOME TO BLOG PLATFORM</title>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar">
    <ul class="bg">
        <li><a href="/register">REGISTER</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/about">ABOUT US</a></li>
        <li><a href="/">HOME</a></li>
    </ul>
</div>



     <!-- Heading -->
     <div class="showcase">
        <!-- <img src="blog.jpg" alt="Background Image"> -->
        <div class="content">
            <h1>Welcome to Our Blog Platform</h1>
            <p>Share your thoughts, experiences, and stories with the world.</p>
            
        </div>
    </div>
</body>

</html>
